ul li {
  list-style: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dominant-text-color: #434455;
  --headline-text-color: #2e2f42;
  --success-color: #31d0aa;
  --placeholder-color: #8e8f99;
  --acsent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --overlay-color-modal: #2e2f42;
  --background-color-modal: #fcfcfc;
  --background-color-hearo: #2e2f42;
  --background-color-header-team: #ffffff;
  --timing-cub: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: Roboto, sans-serif;

  letter-spacing: 0.02em;
  background: var(--acsent-color);
  color: var(--dominant-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.adress {
  font-style: normal;
}
.button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

/* .section {
  padding-top: 120px;
  padding-bottom: 120px;
} */

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: inherit;
}

/* ХЕДЕР */

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 23px;
}

/* ЛОГОТИП */
.header-logo {
  color: var(--background-color-hearo);
}
.logo-web {
  color: var(--primary-color);
}
.header-logo,
.footer-logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

/* HERO */
.hero {
  padding: 112px 0;
  text-align: center;
}
.overlay {
  background-color: var(--background-color-hearo);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/heroimg-mobile.jpg);
  max-width: 428px;

  height: 432px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.headline {
  align-items: center;
  color: var(--background-color-header-team);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;

  margin: 0 auto;
  margin-bottom: 72px;
  width: 320px;
}
.main-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-color-header-team);
  cursor: pointer;

  /* фон */

  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.button:active {
  background: var(--pressed-color);
}

/* ОСОБЛИВОСТІ */

.features-item {
  display: none;
}
.features-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 72px;
}
.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--headline-text-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02em;
  align-self: stretch;
}

.work {
  display: none;
}
/* .header {
  border-bottom: 1px solid var(--background-color-header-team);
  z-index: 1;
}
.container {
  margin: 0 auto;
}
.header-list {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-list .item + .item {
  margin-left: 40px;
}
.nav-link {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms var(--timing-cub);
}
.nav-link.current::after {
  content: '';
  display: block;

  width: 100%;
  height: 4px;
  background: var(--pressed-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
.auth-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms var(--timing-cub);
}
.auth-list {
  display: flex;
  margin-left: auto;
}
.auth-list .item + .item {
  margin-left: 40px;
} */

/* НАВІГАЦІЯ */
/* .auth-link {
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;

  align-items: center;
  color: var(--dominant-text-color);
  transition: color 250ms var(--timing-cub);
}

.nav-link:hover {
  color: var(--pressed-color);
}

.nav-link.current {
  color: var(--pressed-color);
}

.nav-link:focus {
  color: var(--pressed-color);
}

.auth-link:hover,
.auth-link:focus {
  color: var(--pressed-color);
}
.nav-link {
  color: var(--headline-text-color);
}

/* ГЕРОЙ */
/* .hero {
  padding: 188px 0;
  text-align: center;
}
.overlay {
  background-color: var(--background-color-hearo);
  background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/heroimg.jpg);
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.headline {
  align-items: center;
  color: var(--background-color-header-team);
  font-weight: 700;
  font-size: 56px;
  line-height: calc(56 / 60);
  letter-spacing: 0.02em;

  margin: 0 auto;
  margin-bottom: 48px;
  width: 496px;
}
.main-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-color-header-team);
  cursor: pointer; */

/* фон */

/* margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.button:active {
  background: var(--pressed-color);
} */
*/
/* МОДАЛЬНЕ ВІКНО */
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  scale: 1;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-cub), scale 250ms var(--timing-cub);
}
.backdrop.is-hidden {
  opacity: 0;
  scale: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 392px;
  min-height: 584px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 72px;
  padding-bottom: 24px;
  transform: translateX(-50%) translateY(-50%);
}
.modal-btn {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-icon-close {
  fill: currentColor;
}
.backdrop {
  background: rgba(46, 47, 66, 0.4);
}
/*.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 392px;
  min-height: 584px;
  
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
} */
.modal-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24px / 16px);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color-hearo);
  margin-bottom: 16px;
}
.form-callback {
  display: block;
  width: 360px;
  position: relative;
  margin-bottom: 8px;
}
.form-input {
  /* padding: 0; */
  padding-left: 40px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms var(--timing-cub);
}

.callback-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: var(--placeholder-color);
}
.form-textarea {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 16px;
  letter-spacing: 0.01em;

  color: #757575;
}
.callback-icon {
  position: absolute;
  top: 50%;

  left: 19px;

  transition: fill 250ms var(--timing-cub);
}
.form-input:focus {
  border-color: var(--primary-color);
}
.form-input:focus + .callback-icon {
  fill: var(--primary-color);
}
.comment-text {
  display: block;

  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  resize: none;
}
.form-comment {
  position: absolute;
  top: 204px;
}
.comment-text::placeholder {
  top: 12px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment-text {
  outline: transparent;
  transition: outline 250ms var(--timing-cub);
}
.comment-text:focus {
  outline: 1px solid var(--primary-color);
}
.checkbox {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  position: relative;
}
.checkbox-label {
  user-select: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc (14px/12px);

  letter-spacing: 0.04em;

  color: #8e8f99;
}
/* Option */

.option {
  display: block;

  position: relative;
}

/* Check */

.check {
  padding-left: 15px;
}

.check__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.check__box {
  position: absolute;
  top: -7px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em var(--primary-color);
}

/* Checked */

.check__input:checked + .check__box {
  background-color: var(--primary-color);
  background-image: url(../images/icon\ check.svg);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em var(--primary-color), 0 0 0 0.2em #7ed321;
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
  background-color: #9b9b9b;
}

.form-btn {
  width: 169px;
  height: 56px;
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-top: 24px;

  color: var(--background-color-header-team);
}
.modal-btn {
  width: 24px;
  height: 24px;
  align-items: center;
  cursor: pointer;
}
.modal-icon-btn {
  fill: #000000;
  transition: fill 250ms var(--timing-cub);
  transition: background-color 250ms var(--timing-cub);
}
.modal-btn:focus > .modal-icon-btn {
  fill: var(--background-color-header-team);
  background: var(--pressed-color);
}
.modal-btn:hover > .modal-icon-btn {
  fill: var(--background-color-header-team);
  background: var(--pressed-color);
}
.modal-btn:focus {
  fill: var(--background-color-header-team);
  background: var(--pressed-color);
}
.modal-btn:hover {
  fill: var(--background-color-header-team);
  background-color: var(--pressed-color);
}
/* ОСОБЛИВОСТІ */
/* .features-item {
  display: flex;
  height: 112px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 24px;
}

.features {
  padding: 120px 0;
}
.features-list {
  display: flex;
  align-items: flex-start;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;

  color: var(--headline-text-color);
  margin-top: 0;
  margin-bottom: 8px;
}
.features-list .item + .item {
  margin-left: 24px;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin-top: 0;
  margin-bottom: 0;
} */
/* ЧИМ МИ ЗАЙМАЄМОСЯ */
/* .work {
  width: 1200px;
  margin: auto;
  padding-bottom: 120px;
}
.title-work,
.title-team {
  margin-top: 0;
  margin-bottom: 72px;
  margin-right: 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--background-color-hearo);
}
.work-list,
.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.work-list .item-work + .item-work {
  margin-left: 24px;
}
.item-work {
  position: relative;
  display: flex;
} */

/* НАША КОМАНДА */
.team {
  display: flex;
  width: 1200px;
  margin: auto;
  margin-bottom: 0;
}
.team-main {
  background: var(--background-color-team);
  padding-bottom: 96px;
  padding-top: 96px;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 72px;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--background-color-header-team);
  transition: background-color 250ms var(--timing-cub), color 250ms var(--timing-cub);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-color);
  color: #ffffff;
}
.social-icon {
  fill: currentColor;
}

/* .team-list .card + .card {
  margin-left: 24px;
} */
.title-team {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc (40/36);
  letter-spacing: 0.02em;
}
.card-desc > .text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.title-name {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
  color: var(--background-color-hearo);
  margin-top: 0;
  margin: auto;
  margin-bottom: 8px;
}
.card-desc {
  padding-top: 32px;
  padding-bottom: 32px;
}
.card {
  background: var(--background-color-header-team);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
  text-align: center;
}
/* Clients */

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color-hearo);
  margin-bottom: 72px;
}
.client-link {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--placeholder-color);
  transition: color 250ms var(--timing-cub);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--pressed-color);
  color: var(--pressed-color);
}
.client-icon {
  fill: currentColor;
}
/* ФУТЕР */
.footer-main {
  background: var(--background-color-hearo);
  padding: 97px 0;
  height: 664px;
}
.footer > .container {
  margin: auto;
  /* padding-top: 97px;
  padding-bottom: 96px; */
  /* padding-left: 156px; */
}
.adress-footer {
  width: 268px;

  margin: 0 auto;
}
.social-footer {
  width: 208px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo {
  display: flex;
  color: var(--light-color);
  text-decoration: none;
  margin-bottom: 17px;
  justify-content: center;
}
.footer-text {
  /* display: flex;
  justify-content: center; */
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--light-color);
}
.adress-footer-link,
.footer-link {
  display: block;
  color: var(--headline-text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-cub);
}
.adress-list {
  margin-bottom: 9px;
}
.footer-list-item {
  margin-top: 9px;
}
.adress-footer-link:hover,
.adress-footer-link:focus {
  color: var(--logo-text-web-hoover-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--logo-text-web-hoover-color);
}
.footer-title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--background-color-header-team);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--primary-color);
  color: #ffffff;
  transition: background-color 250ms var(--timing-cub);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--success-color);
}
.footer-icon {
  fill: currentColor;
}
.footer-form {
  margin-top: 72px;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.form-title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--background-color-header-team);
  margin-bottom: 16px;
}
.footer-input {
  width: 398px;
  height: 40px;
  padding-left: 16px;
  background: var(--background-color-footer);
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-color-header-team);
}
.form-field {
  position: relative;
  /* width: 398px;
  height: 40px; */
}
.btn-footer {
  position: relative;
  top: 16px;
  left: 131px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;

  letter-spacing: 0.04em;
  color: var(--background-color-header-team);
  background: var(--primary-color);
  border-radius: 4px;
  border: none;
  padding: 8px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
}
.footer-input-icon {
  fill: var(--background-color-header-team);
  margin-left: 16px;
}
/* Телефон */
@media screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
  .auth-list {
    display: none;
  }
  .mobile-meny-open-button {
    border: none;
    background-color: transparent;
    padding: 0;

    line-height: 0;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 24px;
  }
  .mobile-menu-close-btn {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    padding: 0;
    position: absolute;
    top: 24px;
    right: 23px;
  }

  .header-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-bottom: 284px;
  }

  .nav-link-mobile {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms var(--timing-cub);
  }
  .nav-link-mobile.current {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition: color 250ms var(--timing-cub);
  }

  .auth-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-bottom: 48px;
  }
  .auth-link-mobile.mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #434455;

    position: relative;
    transition: color 250ms var(--timing-cub);
  }
  .auth-link-mobile.phone {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: #4d5ae5;

    position: relative;
    transition: color 250ms var(--timing-cub);
  }
  .social-mobile {
    display: flex;
    margin: 0 auto;

    gap: 56px;
  }
  .social-mobile-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--background-color-header-team);
    transition: background-color 250ms var(--timing-cub), color 250ms var(--timing-cub);
  }
  .social-mobile-link:hover,
  .social-mobile-link:focus {
    background-color: var(--pressed-color);
    color: #ffffff;
  }
  .social-mobile-icon {
    fill: currentColor;
  }
}

/*ПЛАНШЕТ */

@media screen and (min-width: 768px) {
  .mobile-meny-open-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .header-list {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-nav-list {
    margin-right: 121px;
  }
  .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc (24/16);
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms var(--timing-cub);
  }
  .current {
    color: #404bbf;
  }
  .nav-link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: var(--pressed-color);
    border-radius: 2px;
    position: absolute;
    top: 67px;
  }
  .auth-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc (14/12);
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms var(--timing-cub);
  }
  .nav-link:hover {
    color: var(--pressed-color);
  }

  .nav-link.current {
    color: var(--pressed-color);
  }

  .nav-link:focus {
    color: var(--pressed-color);
  }

  .auth-link:hover,
  .auth-link:focus {
    color: var(--pressed-color);
  }
  .mail {
    margin-bottom: 12px;
  }
  .backdrop {
    background: rgba(46, 47, 66, 0.4);
  }
  .overlay {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimg-tablet.jpg);
    max-width: 768px;
    height: 436px;
  }
  .headline {
    font-size: 56px;
    line-height: calc (60/56);
    width: 496px;
    margin-bottom: 36px;
  }
  .features {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .subtitle {
    text-align: start;
  }
  .item {
    max-width: 356px;
  }
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    column-gap: 24px;
    row-gap: 72px;
  }
  .title-team {
    margin-bottom: 72px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .clients {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .footer-main {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .adress-footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
  }
  .footer-logo {
    display: block;
    text-align: start;
    margin: 0;
  }
  .social-footer {
    margin: 0;
  }
  .footer-title {
    display: block;
    text-align: start;
  }
  .form-title {
    text-align: start;

    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: 453px;
  }
  .footer-form-input {
    display: flex;
  }

  .footer-input {
    width: 268px;
    margin-bottom: 0;
  }

  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .footer-form {
    margin-top: 0;
    position: relative;
    right: 24px;
  }
  .btn-footer {
    position: absolute;
    top: 40px;
    left: 292px;
  }
  .modal {
    padding-left: 23px;
    padding-right: 25px;
  }
}

/* DESCTOP */
@media screen and (min-width: 1158px) {
  .auth-list {
    display: flex;
    gap: 40px;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-nav-list {
    margin-right: 0;
  }
  .header-list {
    justify-content: space-around;
  }

  .overlay {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimg-desctop.jpg);
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .features {
    padding: 120px 0;
  }
  .features-item {
    display: flex;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  .features-list-item {
    width: 264px;
  }
  .work {
    display: block;
  }
  .work {
    width: 1158px;
    margin: auto;
    padding-bottom: 120px;
  }
  .title-work,
  .title-team {
    margin-top: 0;
    margin-bottom: 72px;
    margin-right: 0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    color: var(--background-color-hearo);
  }
  .work-list,
  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .work-list .item-work + .item-work {
    margin-left: 24px;
  }
  .item-work {
    position: relative;
    display: flex;
  }
  .team-main {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .clients-main {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .clients {
    gap: 24px;
  }
  .footer-main {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .adress-footer {
    margin-right: 120px;
  }
  .social-footer {
    margin-right: 80px;
  }
  .footer {
    justify-content: start;
    column-gap: 0;
    row-gap: 0;
  }
  .footer-form {
    display: flex;

    position: relative;
    bottom: 110px;
    left: 676px;
  }

  .footer-input {
    width: 264px;
  }

  .btn-footer {
    position: absolute;
    top: 40px;
    left: 288px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
  }
}

/* ............ПОРТФОЛІО................................. */

.filter-main {
  padding-top: 72px;
  padding-bottom: 120px;
}
.filter-btn > .container {
  margin: auto;
}
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  cursor: pointer;
  background: var(--background-color-team);
  border-radius: 4px;
  border: none;
  padding: 12px 24px;
  transition: color 250ms var(--timing-cub), background 250ms var(--timing-cub),
    box-shadow 250ms var(--timing-cub);
}
.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .filter-list + .filter-list {
  margin-left: 24px;
}

.filter-button:active,
.filter-button:hover,
.filter-button:focus {
  color: var(--background-color-header-team);
  background: var(--pressed-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.flex {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;

  margin: auto;
}
.flex-li {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}
.flex-li:nth-child(3n) {
  margin-right: 0;
}
.flex-li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.flex-text {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-color);
}
.portfolio-list {
  display: block;
  text-decoration: none;
}
.portfolio-sempl {
  position: relative;
  overflow: hidden;
}
.portfolio.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--light-color);
}

.portfolio-overlay {
  position: absolute;
  width: 360px;
  height: 300px;
  left: 0;

  padding: 40px 32px;
  transform: translateY(40%);
  transition: transform 250ms var(--timing-cub);
  background: var(--primary-color);
}

.portfolio-list:hover .portfolio-overlay,
.portfolio-list:focus .portfolio-overlay {
  transform: translateY(-100%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--background-color-hearo);
}
.portfolio-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--dominant-text-color);
  width: 322px;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

/* для телефонів 2 */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimg-mobile@2x.jpg);
    /* background-color: var(--background-color-hearo); */
  }
}
/* для планшетів 1 */
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimg-tablet.jpg);
    /* background-color: var(--background-color-hearo); */
  }
}
/* для планшетів 2 */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimg-tablet@2x.jpg);
    /* background-color: var(--background-color-hearo); */
  }
}
/* для десктопа 1 */
@media screen and (min-width: 1158px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimg.jpg);
    /* background-color: var(--background-color-hearo); */
  }
}
/* для десктопа 2 */
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/heroimg@2x.jpg);
    /* background-color: var(--background-color-hearo); */
  }
}
